{% extends "base.html" %}
{% load static %}


{% block content %}

<section class="bg">
    <div class="d-flex flex-column min-vh-100">
       <div class="w3-container">
            <!-- Other page content goes here -->
       </div>

        <div class="mt-auto">
            <h2 class="text-center fw-bold mb-4">Our Partners</h2>
        <div class="logos">
            <div class="logos-slide">
                <img src="{% static 'images/logos/Asile.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/3m.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/barstool-store.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/budweiser.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/buzzfeed.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/forbes.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/macys.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/menshealth.svg' %}" alt="Partners">
                <img src="{% static 'images/logos/mrbeast.svg' %}" alt="Partners">
            
            </div>
        </div>
    </div>
    </div>

    
    

</section>

<!-- footer -->
{% include "includes/footer.html" %}
{% endblock content %}
