{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="header">
    <!-- <img src="" alt="background-image"> -->
    <div id="welcome" class="py-5">
        
            <h1 class="h1 pt-5 welcome">WELCOME <br><span class="welcome">to</span></h1>
            <h2 class="h2 welcome ">LaunchPad Africa</h2>
            <h3 class="h3 welcome">Igniting Africa's Next Generation of Innovators.</h3>
            <hr class="mx-auto">
            <button class="btn btn-outline-light btn-lg px-3 py-2 welcome">Explore</button>
    </div>
</section>
{% endblock content %}
