{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="header">
    <!-- <img src="" alt="background-image"> -->
    <div id="welcome" class="py-5">
        
            <h1 class="h1 pt-5 welcome">Welcome <br><span class="welcome">to</span></h1>
            <div class="text">
                <span>L</span>
                <span>a</span>
                <span>u</span>
                <span>n</span>
                <span>c</span>
                <span>h</span>
                <span>P</span>
                <span>a</span>
                <span>d</span> &nbsp;
                <span>A</span>
                <span>f</span>
                <span>r</span>
                <span>i</span>
                <span>c</span>
                <span>a</span>
            </div>
            <h3 class="h3 welcome">Igniting Africa's Next Generation of Innovators.</h3>
            <hr class="mx-auto">
            <button class="btn btn-outline-light btn-lg px-4 py-2 welcome home-btn">Explore</button>
    </div>
</section>
{% endblock content %}
