{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="header">
    <!-- <img src="" alt="background-image"> -->
    <div id="welcome" class="py-5">
        
            <h1 class="h1">WELCOME <br><span>to</span></h1>
            <h2 class="h2">LaunchPad Africa</h2>
            <h3 class="h3">Igniting Africa's Next Generation of Innovators.</h3>
            <p>LaunchPad Africa is a startup accelerator and innovation hub <br>
                dedicated to empowering African entrepreneurs <br>with the tools, 
                mentorship, and funding needed to <br>turn bold ideas into thriving businesses.
            </p>
    </div>
</section>
{% endblock content %}
