{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="bg">
    <div class="w3-container">
        <h1 class="w3-center w3-animate-right">Investors Page</h1>
        <br><br>
        <p class="w3-center w3-animate-left" style="font-size: 1.2rem; text-align: center;">
            🚧👷‍♀️ Page Under Construction 👷‍♂️🚧<br>
            We're building something awesome — stay tuned! 🔧✨
        </p> 
    </div>
</section>

<!-- footer -->
{% include "includes/footer.html" %}
{% endblock content %}