<footer>
    <div class="row">
        <div class="col">
            <!-- <img src="" alt="footer logo" srcset=""> -->
             <h3>LaunchPad Africa</h3>
             <p>LaunchPad Africa is a startup accelerator and innovation hub
                dedicated to empowering African entrepreneurs
                with the tools, mentorship, and funding needed to
                turn bold ideas into thriving businesses.</p>
        </div>
        <div class="col">
            <h3>Office <div class="underline"><span></span></div></h3>
            <p class="remove">Zone 3, P.O. Box 8415, Wuse</p>
            <p class="remove">Federal Capital Territory (FCT)</p>
            <p class="remove"> Abuja</p>
            <p class="email-id">contact@launchpadafrica.com</p>
            <h4>+234-09-235623</h4>

        </div>
        <div class="col">
            <h3>Links <div class="underline"><span></span></div></h3>
            
                <h5 class="links"><a href="{% url 'home' %}">Home</a></h5>
                <h5 class="links"><a href="{% url 'startups' %}">StartUps</a></h5>
                <h5 class="links"><a href="{% url 'sectors' %}">Sectors</a></h5>
                <h5 class="links"><a href="{% url 'investors' %}">Investors</a></h5>
                <h5 class="links"> <a href="{% url 'about' %}">About</a></h5>
        </div>
        <div class="col">
            <h3>Newsletter <div class="underline"><span></span></div></h3>
            <form class="form" method="POST" action="{% url 'subscribe' %}?next={{ request.path }}">
                {% csrf_token %}
                <i id="icon1" class="fa-regular fa-envelope"></i>
                {{ newsletter_form.email }}
                <button type="submit"><i id="icon2" class="fa-solid fa-arrow-right"></i></button>
            </form>            
            
            <div class="social-icons">
                <a href="https://facebook.com/yourprofile" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook" id="icon3"></i>
                </a>
                <a href="https://linkedin.com/in/yourprofile" target="_blank" rel="noopener">
                    <i class="fa-brands fa-linkedin" id="icon3"></i>
                </a>
                <a href="https://twitter.com/yourprofile" target="_blank" rel="noopener">
                    <i class="fa-brands fa-twitter" id="icon3"></i>
                </a>
                <a href="https://instagram.com/yourprofile" target="_blank" rel="noopener">
                    <i class="fa-brands fa-instagram" id="icon3"></i>
                </a>
            </div>            
        </div>
    </div>
    <hr>
    <p class="copyright">LaunchPad Africa © 2025 - All Rights Reserved</p>
</footer>