@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');


/* #eaeae9 */
/* color: #3e4455; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: #eaeae9;
}

#welcome{
    background-color: black;
    opacity: 0.75;
    color: white;
    padding-top: 150px !important;
    height: 100vh;
    text-align: center;
}

.welcome {
    font-family: 'DM Serif Display', serif !important;
}

  

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* footer start */

footer{
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    background: radial-gradient(circle,rgba(150, 150, 150, 1) 34%, rgba(132, 132, 150, 1) 89%);
    color: black;
    padding: 100px 0 30px 100px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 2%;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}

.remove{
    margin-bottom: 0;
}

.col h3 {
    font-family: 'poppins', sans-serif;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #000000;
    margin: 20px 0;
}


.links a{
    text-decoration: none;
    color: inherit;
}

.links a:hover{
    color: #000000;
    text-decoration: underline;
}

.form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-bottom: 50px;

}

.form #icon1 {
    font-size: 18px;
    margin-right: 10px;
}

.form input{
    width: 100%;
    background: transparent;
    color: #000000;
    border: 0;
    outline: none;
}

.form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.form button #icon2{
    font-size: 16px;
    color: #000000;
}

.social-icons #icon3{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    margin-right: 10px;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid black;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: black;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: white;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }

    .col{
        flex-basis: 100%;
    }

    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
}


/* footer end */

/* Navbar Styling start */
body.landing-page .navbar {
    background-color: transparent !important;
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
body.landing-page .navbar .nav-link,
body.landing-page .navbar .navbar-brand {
    color: white !important;
}

body.landing-page .navbar .nav-link:hover{
    background-color: #1f2129 !important;
    transform: scale(1.05);
    transition: 0.5s ease;
}

body.landing-page .navbar .navbar-toggler {
    border: 1px solid white;
  }
  
  body.landing-page .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }

  body.landing-page .navbar .active-link {
    text-decoration: underline wavy white !important;
    text-underline-offset: 10px !important;
    font-weight: 600 !important;
  }

@media (max-width: 991px) {
    body.landing-page .navbar {
      position: absolute !important;
    }
  
    body.landing-page .navbar-collapse {
      background-color: rgba(0, 0, 0, 0.85) !important;
    }
  }
  
  


.navbar-brand{
    font-family: "kalam";
    font-size: 1.7rem !important;
    color: black !important;
}
.navbar-brand:hover{
    color: black !important;
}

.nav-link{
    margin-right: 10px !important;
    margin-left: 10px !important;
    color: black !important;
    text-transform: uppercase !important;
}

.nav-link:hover{
    background-color: #e8ebf3 !important;
    transform: scale(1.05);
    transition: 0.5s ease;
}

.nav-link:hover{
color: black !important;
}

.search{
    height: 40px !important;
    width: 150px !important;
    font-size: small !important;
    border-radius: 60px !important;
    outline: none !important;
    border: 2px solid black !important;
}

.btn0{
    height: 40px !important;
    width: 80px !important;
    outline: none !important;
    border: black !important;
    background: rgb(175, 172, 172) !important;
    color: black !important;
    border-radius: 60px !important;
    font-weight: 700 !important;
}
.btn0:hover{
    background-color: black !important;
    color: white !important;
    transform: scale(1.05) !important;
    transition: 0.5s ease !important;
}

.active-link {
    text-decoration: underline wavy black !important;
    text-underline-offset: 10px !important;
    font-weight: 600 !important;
  }
  
/* Navbar styling end */
span{
    color: red;
    font-size: smaller;
}
.h1{
    font-size: 4.5rem !important;
    text-align: center;
}
.h2{
    font-size: 3.5px;
    text-align: center;
    font-weight: 200;
}
.h3{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Pages Background */
.bg{
    background-color: #eaeae9;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}